<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/about_beach2.jpg);">
    <div class="banner-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="banner-content text-center  wow fadeInUp">
                        <h1 data-animation="fadeInLeft" data-delay="0.9s" class="mytitle">lauraxfinn</h1>
                    </div>
                    <div class="banner-content text-center mb-200 ml-400 wow fadeInUp">
                        <span>about<div class="btn-group" role="group" aria-label="Button group">
                            </div></span>

                    </div> <!-- banner content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->

    </div>
</div>
<!--====== PAGE TITLE PART ENDS ======-->

<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 offset-lg-1 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="section-title">
                    <h4 class="title">Our Story</h4>
                    <p> Positivity to Go is our heart project, where we want to take you on our journey to
                        self-realization
                        and mental well-being. We focus on the strengths, positive qualities and experiences of life.
                        Positivity to Go supports you to create a fulfilling life and to go your individual way
                        successfully. Whether you reach your full potential depends largely on yourself! </p>
                    <p> Together with you we would like
                        to
                        find out, how you can realize this potential and what makes you happy. We share
                        our
                        experiences with you to inspire & motivate you and to help you finding your individual way in
                        all
                        areas of life.</p>
                    <p> With Positivity to Go we take you on new adventures, share our experiences and
                        positivity, inspire you to achieve your goals and strive for mental well-being in order to make
                        the
                        best of our lives together!</p>

                </div> <!-- section title -->
            </div>
        </div>
    </div> <!-- container -->
    <div class="what-we-are-shape-1">
        <img src="assets/images/what-we-are-shape-1.png" alt="shape">
    </div>
</div>
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area-finn who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 wow fadeInLeft mb-20" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="team-details-content">
                    <h4 class="title">About Laura</h4>
                    <span>Founder</span>
                    <p class="pb-15">Does any industry face a more complex audience journey and marketing sales process
                        than B2B technology? Consider the number of people who influence a sale, the length of the
                        decision-making cycle, the competing interests of the people who purchase, implement, manage,
                        and use the technology. It’s a lot meaningful content here.</p>
                    <p>As a result, most of us need to know how to use computers. Our knowledge of computers will help
                        us to tap into challenging career opportunities and enhance the quality of our lives. It is
                        imperative that quality students be encouraged and motivated to study computers and become
                        capable and responsible IT professionals. The education model needs to align itself with
                        dynamically changing technology to meet the growing need for skilled IT manpower and deliver
                        state-of-the-art, industry relevant and technology ready programs.​</p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-details-thumb">
                    <img src="assets/images/about_laura.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!--====== WHO WE ARE PART ENDS ======-->
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-details-thumb">
                    <img src="assets/images/about_finn.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="team-details-content">
                    <h4 class="title">About Finn</h4>
                    <p class="pb-15">Does any industry face a more complex audience journey and marketing sales process
                        than B2B technology? Consider the number of people who influence a sale, the length of the
                        decision-making cycle, the competing interests of the people who purchase, implement, manage,
                        and use the technology. It’s a lot meaningful content here.</p>
                    <p>As a result, most of us need to know how to use computers. Our knowledge of computers will help
                        us to tap into challenging career opportunities and enhance the quality of our lives. It is
                        imperative that quality students be encouraged and motivated to study computers and become
                        capable and responsible IT professionals. The education model needs to align itself with
                        dynamically changing technology to meet the growing need for skilled IT manpower and deliver
                        state-of-the-art, industry relevant and technology ready programs.​</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== WHO WE ARE PART ENDS ======-->

<app-footer3></app-footer3>