<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/about_beach2.jpg);">
    <div class="banner-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text-center about-header wow fadeInUp">
                        <span>laura x finn</span>

                    </div> <!-- banner content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-details-thumb">
                    <img src="assets/images/about_laura.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="team-details-content">
                    <h4 class="title">About Laura</h4>
                    <span>Founder</span>
                    <p class="pb-15">Does any industry face a more complex audience journey and marketing sales process
                        than B2B technology? Consider the number of people who influence a sale, the length of the
                        decision-making cycle, the competing interests of the people who purchase, implement, manage,
                        and use the technology. It’s a lot meaningful content here.</p>
                    <p>As a result, most of us need to know how to use computers. Our knowledge of computers will help
                        us to tap into challenging career opportunities and enhance the quality of our lives. It is
                        imperative that quality students be encouraged and motivated to study computers and become
                        capable and responsible IT professionals. The education model needs to align itself with
                        dynamically changing technology to meet the growing need for skilled IT manpower and deliver
                        state-of-the-art, industry relevant and technology ready programs.​</p>
                </div>
            </div>
        </div>
    </div>
    <div class="what-we-are-shape-1">
        <img src="assets/images/what-we-are-shape-1.png" alt="shape">
    </div>

    <!-- <div class="what-we-are-shape-2">
        <img src="assets/images/what-we-are-shape-2.png" alt="shape">
    </div> -->
</div>
<!--====== WHO WE ARE PART ENDS ======-->


<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area-finn who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="team-details-content">
                    <h4 class="title">About Finn</h4>
                    <span>Founder</span>
                    <p class="pb-15">Does any industry face a more complex audience journey and marketing sales process
                        than B2B technology? Consider the number of people who influence a sale, the length of the
                        decision-making cycle, the competing interests of the people who purchase, implement, manage,
                        and use the technology. It’s a lot meaningful content here.</p>
                    <p>As a result, most of us need to know how to use computers. Our knowledge of computers will help
                        us to tap into challenging career opportunities and enhance the quality of our lives. It is
                        imperative that quality students be encouraged and motivated to study computers and become
                        capable and responsible IT professionals. The education model needs to align itself with
                        dynamically changing technology to meet the growing need for skilled IT manpower and deliver
                        state-of-the-art, industry relevant and technology ready programs.​</p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s">
                <div class="team-details-thumb">
                    <img src="assets/images/about_finn.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!--====== WHO WE ARE PART ENDS ======-->

<!--====== ABOUT HISTORY PART START ======-->
<div class="about-history-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">Our History</h2>
                    <p>Learn About Laura and Finn</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="history-item  pt-240">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <img src="assets/images/history-1.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <span>2019 - Hamburg</span>
                        <h4 class="title">Erste gemeinsame Wohnung</h4>
                    </div>
                    <div class="number-box">
                        <span>02</span>
                    </div>
                </div> <!-- history item -->
                <div class="history-item">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <img src="assets/images/history-2.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <span>2021 - Bali</span>
                        <h4 class="title">Auswandern nach Bali</h4>
                    </div>
                    <div class="number-box">
                        <span>04</span>
                    </div>
                    <div class="number-box-2">
                        <i class="fal fa-plus"></i>
                    </div>
                </div> <!-- history item -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="history-item history-item-2">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <img src="assets/images/history-3.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <span>2017 - Bali</span>
                        <h4 class="title">Kennen gelernt im Auslandsemester auf Bali</h4>
                    </div>
                    <div class="number-box">
                        <span>01</span>
                    </div>
                </div> <!-- history item -->
                <div class="history-item history-item-2">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <img src="assets/images/history-4.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <span>2020 - Philipinnen</span>
                        <h4 class="title">Plan zum auswandern und verändern des Lebens beschlossen</h4>
                    </div>
                    <div class="number-box">
                        <span>03</span>
                    </div>
                </div> <!-- history item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== ABOUT HISTORY PART ENDS ======-->
<app-footer3></app-footer3>