<app-header></app-header>

<!--====== GET IN TOUCH PART START ======-->
<div class="get-in-touch-area get-in-touch-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                <div class="section-title text-left">
                    <span>Get In Touch</span>
                    <h2 class="title">Estimate For Your Projects.</h2>
                </div> <!-- section title -->
                <div class="form-area">
                    <form id="contact-form" action="assets/contact.php" method="post">
                        <div class="input-box mt-45">
                            <input type="text" name="name" placeholder="Enter your name">
                            <i class="fal fa-user"></i>
                        </div>
                        <div class="input-box mt-20">
                            <input type="email" name="email" placeholder="Enter your email">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="input-box mt-20">
                            <textarea name="message" id="#" cols="30" rows="10"
                                placeholder="Enter your message"></textarea>
                            <i class="fal fa-edit"></i>
                            <button class="main-btn about" type="submit">Submit Now</button>
                        </div>
                    </form>
                    <p class="form-message"></p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="releted-thumb">
                    <img src="assets/images/contact.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== GET IN TOUCH PART ENDS ======-->
<app-footer3></app-footer3>