<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG GRID PART START ======-->
<div class="blog-grid-area pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="blog-grid-item mt-30 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                    <img src="assets/images/blogBsp2.png" alt="">
                    <div class="blog-grid-overlay">
                        <span>Design/SEO</span>
                        <a routerLink='/blog-detail'>
                            <h5 class="title">A series of iOS 7 inspired vector icons.</h5>
                        </a>
                        <ul>
                            <li><i class="fal fa-calendar-alt"></i> <span>23rd January 2019</span></li>
                            <li><i class="fal fa-heart"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="blog-grid-item mt-30 wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <img src="assets/images/blog-grid-2.jpg" alt="">
                    <div class="blog-grid-overlay">
                        <span>Design/SEO</span>
                        <a routerLink='/blog-detail'>
                            <h5 class="title">A series of iOS 7 inspired vector icons.</h5>
                        </a>
                        <ul>
                            <li><i class="fal fa-calendar-alt"></i> <span>23rd January 2019</span></li>
                            <li><i class="fal fa-heart"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="blog-grid-item mt-30 wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="assets/images/blog-grid-3.jpg" alt="">
                    <div class="blog-grid-overlay">
                        <span>Design/SEO</span>
                        <a routerLink='/blog-detail'>
                            <h5 class="title">A series of iOS 7 inspired vector icons.</h5>
                        </a>
                        <ul>
                            <li><i class="fal fa-calendar-alt"></i> <span>23rd January 2019</span></li>
                            <li><i class="fal fa-heart"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--====== BLOG GRID PART ENDS ======-->
<app-footer3></app-footer3>