<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG GRID PART START ======-->
<div class="blog-grid-area pt-90 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="blog-grid-item mt-30 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
          <img src="assets/images/positives_denken_lernen_sq.jpg" alt="">
          <div class="blog-grid-overlay">
            <span>Lifestyle</span>
            <a routerLink='/blog-positives-denken'>
              <h5 class="title">{{'BLOGGRID.POST1'| translate }}</h5>
            </a>
            <ul>
              <li><i class="fal fa-calendar-alt"></i> <span>23.10.2020</span></li>
              <li><i class="fal fa-heart"></i></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="blog-grid-item mt-30 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
          <img src="assets/images/wie-bekommt-man-ein-positives-money-mindset-sq.jpg" alt="">
          <div class="blog-grid-overlay">
            <span>Lifestyle</span>
            <a routerLink='/positives-money-mindset'>
              <h5 class="title">{{'BLOGGRID.POST2'| translate }} </h5>
            </a>
            <ul>
              <li><i class="fal fa-calendar-alt"></i> <span>30.10.2020</span></li>
              <li><i class="fal fa-heart"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--====== BLOG GRID PART ENDS ======-->
<app-footer3></app-footer3>
