<app-header></app-header>

<!--====== PAGE TITLE PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/how-to-get-money-mindset.jpg);">
  <div class="banner-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="banner-content text-center wow fadeInUp">

          </div> <!-- banner content -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div>
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="blog-standard">
          <div class="single-blog-standard  mt-30">
            <div class="blog-dteails-content blog-border">
              <div class="blog-details-top">
                <span>Lifesytle</span>
                <h2 class="title">Positives Money Mindset – Trendwort oder Realtalk? </h2>
                <ul>
                  <li><i class="fal fa-eye"></i> Lesedauer: 2 Minuten</li>
                  <li><i class="fal fa-calendar-alt"></i> 30.10.2020</li>
                </ul>

              </div>
              <div class="blog-details-bath ">
                <div class="blog-details-confarance">
                  <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                    <p>Mit diesem Blogpost möchte ich dir zeigen, was das Money Mindset ist, warum es sich lohnt, sich
                      mit dem Thema Money Mindset auseinanderzusetzen und welchen nachhaltigen Einfluss es für dein
                      Leben haben kann.
                    </p>

                  </div>
                  <h4 class="title">{{'BLOG.POST1.TEXT6'| translate }}</h4>
                  <h4 class="title">Was ist eigentlich dieses Money Mindset?</h4>
                  <div class="confarance-flex d-flex mt-20 mb-20">
                    <div class="confarance-thumb-1 wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                      <img src="assets/images/your-money-mindset.jpg" alt="">
                    </div>
                    <div class="confarance-thumb-2 pt-30 wow fadeInRight mb-20" data-wow-duration="1s"
                      data-wow-delay="0s">
                      <p>Wie kannst du es nun aber schaffen, negative Glaubenssätze zu entfernen?</p>
                      <p> 95% unserer Entscheidung und Gedanken laufen unbewusst und automatisch. Wir nehmen sie
                        überhaupt nicht wahr. Ist in unserem Mindset nun das Geldverdienen negativ behaftet,
                        beeinflussend uns dies auch in unserem täglichen Handeln und Fühlen. Wir haben abgespeichert
                        und
                        verinnerlicht, dass Geldverdienen schlecht ist und haben daher immer ein schlechtes Gefühl
                        beim
                        Umgang mit Geld. </p>
                      <p>Vielleicht hast du schonmal negativ behaftete (Glaubens-)Sätze gehört wie </p>
                      <p>„Geld verdirbt den Charakter“, </p>
                      <p>„Geld allein macht nicht Glücklich“ </p>
                    </div>
                  </div>
                  <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                    <p>Im ersten Schritt solltest du dir genau diese negative Einstellung bewusstmachen und
                      umcodieren.
                      Dabei hilft es dir, wenn du negative Glaubenssätze ins Positive übersetzt. Ein Beispiel hierfür
                      wäre:</p>
                    <p>„Geld gibt mir die Möglichkeit anderen Menschen zu helfen und Gutes zu tun“ </p>
                    <p>„Geld ermöglicht es mir, besser für meine Gesundheit zu sorgen“.</p>
                    <p>Nur wenn du dir deiner negativen Glaubenssätze bewusst bist, kannst du aktiv an diesen arbeiten
                      und dein Mindset verändern. Das Ziel ist ein dynamisches Mindset zu erhalten, welches offen für
                      Neues ist und ständig dazulernt und ausprobiert. Damit lassen sich dann innere Blockaden lösen
                      und
                      alte Muster in neue Glaubenssätze umwandeln. </p>
                  </div>

                </div>



                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <h4 class="title">Aber lass uns noch einen Schritt tiefer gehen und analysieren, warum ein postives
                    Money Mindset hilfreich im Alltag sein kann. Diese Aussage „Geld alleine mache nicht Glücklich“, mag
                    zwar stimmen, aber du solltest bei der Interpretation aufpassen. Der Glaubenssatz bedeutet nicht,
                    dass kein Geld haben einen automatisch glücklich macht. Geld hat nicht die Aufgabe dich glücklich
                    oder unglücklich zu machen, diese Aufgabe hast ganz allein DU.
                    </p>
                </div>
                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <p>Lasst uns aber mal konkret werden. Mit diesen drei Schritten kannst du dir ein positives und
                    erfolgreiches Money Mindset erarbeiten:</p>
                  <ul>
                    <li> Geld zu verdienen macht….
                    </li>
                    <li> Geld ausgeben ist ….</li>
                    <li>Rechnungen sind….</li>

                  </ul>
                </div>

                <div class="row align-items-center pt-30">
                  <div class="col-lg-5 wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="team-details-thumb">
                      <img src="assets/images/postiv-money-mindset.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <p class="pt-30">Wenn deine Vervollständigungen nun größtenteils negativ behaftet sind, keine Bange,
                      das muss nicht so bleiben. Den ersten Schritt hast du erfolgreich getan und deine Glaubensätze dir
                      bewusst gemacht und reflektiert.</p>
                  </div>


                </div>

                <div class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                  <p class="pt-20 !Important">Im zweiten Schritt solltest du nun deine negativen Glaubenssätze in
                    positive umwandeln. Frage dich daher, ob deine negativen Glaubensätze überhaupt gerechtfertigt sind
                    und diese wirklich eine Rolle in deinem Leben spielen. Haben sich deine negativen Glaubenssätze
                    schon einmal bewahrheitet? Nein? Na dann kannst du los legen deine Glaubensätze ins positive
                    umzuformulieren.</p>
                  <p>Negativ: Geld zu haben macht einen nicht Glücklich. Positiv: Geld schenkt dir finanzielle Freiheit,
                    die mich glücklicher macht.</p>
                </div>

                <div class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                  <p class="pt-20 !Important">Negativ: Wirklich Geld haben nur die obersten 10%. Positiv: Du kannst auf
                    sehr vielfältige Weisen Geld verdienen und dir das Leben deiner Träume ermöglichen.</p>
                  <p>Im letzten Schritt solltest du nun deine Bewertungen zum Geldausgeben ändern. Es ist wichtig, dass
                    du nicht verbissen jeden Cent sparst, sondern dich viel mehr bewusst für jede Ausgabe entscheidest.
                    Investiere in die „richtigen“ Dinge – am Besten in dich selbst. Freue dich auf die Ausgabe, denn sie
                    wird dich deinen Zielen näherbringen. Du wirst sehen, deine neuen Glaubenssätze, werden neue Gefühle
                    und Einstellungen in die auslösen!</p>
                </div>
                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <p class="pb-0 !Important">by,

                  </p>
                  <p>Finn</p>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer3></app-footer3>
