<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/positives_denken_lernen.jpeg);">
  <div class="banner-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="banner-content text-center wow fadeInUp">

          </div> <!-- banner content -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div>
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="blog-standard">
          <div class="single-blog-standard  mt-30">
            <div class="blog-dteails-content blog-border">
              <div class="blog-details-top">
                <span>Lifesytle</span>
                <h2 class="title">Wie positives Denken dein Leben verändern kann</h2>
                <ul>
                  <li><i class="fal fa-eye"></i> Lesedauer: 2 Minuten</li>
                  <li><i class="fal fa-calendar-alt"></i> 23.10.2020</li>
                </ul>

              </div>
              <div class="blog-details-bath ">
                <div class="blog-details-confarance">
                  <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                    <p>Die Welt unterscheidet zwischen Optimisten, Pessimisten und Realisten – doch welche dieser
                      Einstellungen bringt dich im Leben wirklich weiter?
                      Wissenschaftler konnten nachweisen, dass positives Denken das Gehirn, unsere Fähigkeiten, unsere
                      Gesundheit und somit unser ganzes Leben verändern kann.
                    </p>
                  </div>


                  <div class="confarance-flex d-flex mt-20 mb-20">
                    <div class="confarance-thumb-1 wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                      <img src="assets/images/positives_denken_trainieren.jpg" alt="">
                    </div>
                    <div class="confarance-thumb-2 pt-30 wow fadeInRight mb-20" data-wow-duration="1s"
                      data-wow-delay="0s">

                      <p> Für viele Forscher steht fest, dass was im Gehirn passiert, unseren Körper beeinflussen
                        kann – und das im besten Fall positiv. Es gibt also eine Verbindung zwischen einer positiven
                        Lebenseinstellung und der eigenen Gesundheit. Menschen, die positiv denken haben beispielsweise
                        einen niedrigeren Blutdruck, eine geringere Wahrscheinlichkeit für Herzerkrankungen und eine
                        gesündere Einstellung gegenüber dem eigenen Körper.</p>
                    </div>
                  </div>
                  <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                    <p>Nach Psychologin Barbara L. Fredrickson, beeinflussen Emotionen die eigene Wahrnehmung und das
                      Verhalten. Mittels ihrer Broaden-and-build-Theorie wies sie nach, dass die positiven Emotionen
                      Freude, Interesse, Zufriedenheit und Liebe maßgeblich die eigenen Denkweisen und das
                      Handlungsrepertoire erweitern können. Beispielsweise entfacht Freude den Drang zu spielen,
                      Interesse den Drang zu erkunden, Zufriedenheit den Drang zu genießen und sich zu integrieren und
                      Liebe den wiederkehrenden Zyklus jeder dieser Dränge in sicheren und engen Beziehungen. Darüber
                      hinaus belegte sie, dass diese positiven Denkweisen und Emotionen das Entdecken neuer und
                      kreativer Handlungen, Ideen und sozialer Bindungen fördern, sodass mittels dieser Emotionen deine
                      persönlichen Ressourcen aufgebaut werden können, auf welche du jederzeit zurückgreifen kannst. Die
                      Förderung dieser positiven Emotionen kann also nachhaltig deine Gesundheit und dein Wohlbefinden
                      stärken.</p>
                  </div>

                </div>



                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <h4 class="title">Wie kannst du nun aber aktiv diese positiven Gefühle trainieren?</h4>
                  <p>Die Professorin Judith T. Moskowitz entwickelte acht Fähigkeiten, die dir helfen können, deine
                    positiven Emotionen zu fördern. Das Ziel hierbei ist, dass du dich in einer Krise glücklicher,
                    ruhiger
                    und zufriedener fühlst und eine stärkere Resilienz aufbaust. Versuche also mindestens drei dieser
                    acht Fähigkeiten zu lernen, indem du sie jeden Tag übst.
                  </p>
                </div>
                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <ul>
                    <li> 1. Erkenne jeden Tag ein positives Erlebnis
                    </li>
                    <li> 2. Nimm diesen Moment aktiv wahr, schreibe ihn auf und erzähle am besten jemandem davon</li>
                    <li>3. Beginne JETZT ein Dankbarkeitstagebuch zu schreiben</li>
                    <li>4. Notiere eine positive Eigenschaft von dir und beobachte und reflektiere, wie du sie einsetzt
                    </li>
                    <li>5. Setze dir ein erreichbares Ziel und beobachte deinen Fortschritt</li>
                    <li>6. Notiere dir etwas, was dir Stress bereitet und finde Strategien, wie du diesen Dingen etwas
                      Positives abgewinnen kannst</li>
                    <li>7. Egal wie klein die Geste - Tu jeden Tag etwas Gutes für jemand anderen </li>
                    <li>8. Meditiere – richte deine Aufmerksamkeit einmal am Tag auf das Hier und jetzt</li>
                  </ul>
                </div>

                <div class="row align-items-center pt-30">
                  <div class="col-lg-5 wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="team-details-thumb">
                      <img src="assets/images/acht_schritte_zum_positiven_denken.jpeg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <p class="pt-30">Du hast es selbst in der Hand, dein Leben positiv zu beeinflussen, um dich selbst
                      zu verwirklichen. Mentales Wohlbefinden und deine körperlichen Ressourcen sind miteinander
                      verbunden - das eine kann nicht ohne das andere. </p>
                  </div>


                </div>

                <div class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                  <p class="pt-20 !Important">Trainiere aktiv Fähigkeiten, welche dir helfen deine inneren Ressourcen
                    aufzubauen. Dies wird dein mentales Wohlbefinden insofern stärken, dass du dich besser auf deine
                    Ziele und Träume fokussieren kannst. Warte damit nicht bis morgen, sondern beginn heute damit, das
                    Leben deiner Träume aufzubauen.</p>
                </div>
                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <p class="pb-0 !Important">Love,

                  </p>
                  <p>Laura</p>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer3></app-footer3>
