<app-header></app-header>
<!--====== BANNER PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/HeaderMalle.jpg);">
    <div class="banner-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="banner-content text-center wow fadeInUp">
                        <span>POSITIVITY TO GO<div class="btn-group" role="group" aria-label="Button group">
                            </div></span>

                    </div> <!-- banner content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!--====== BANNER PART ENDS ======-->

<!--====== BLOG PART START ======-->
<div class="blog-area pt-150 pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title">TALK</h2>
                </div><!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="news-area">
            <div class="container">
                <!-- row -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-9 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                        <div class="single-news mt-30">
                            <img src="assets/images/news-1.jpg" alt="">
                            <div class="single-news-overlay">
                                <span>By Laura</span>
                                <h5 class="title"><a routerLink="/blog-detail">A series of iOS 7 inspired vector
                                        icons.</a></h5>
                                <a routerLink="/blog-detail"><i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div> <!-- single news -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9  wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="single-news mt-30">
                            <img src="assets/images/news-2.jpg" alt="">
                            <div class="single-news-overlay">
                                <span>By Laura</span>
                                <h5 class="title"><a routerLink="/blog-detail">A series of iOS 7 inspired vector
                                        icons.</a></h5>
                                <a routerLink="/blog-detail"><i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div> <!-- single news -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9 wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                        <div class="single-news mt-30">
                            <img src="assets/images/news-3.jpg" alt="">
                            <div class="single-news-overlay">
                                <span>By Laura</span>
                                <h5 class="title"><a routerLink="/blog-detail">A series of iOS 7 inspired vector
                                        icons.</a></h5>
                                <a routerLink="/blog-detail"><i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div> <!-- single news -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
        <!--====== NEWS PART ENDS ======-->

    </div> <!-- container -->
</div>
<!--====== BLOG PART ENDS ======-->
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                <div class="section-title">
                    <span>who we are</span>
                    <h2 class="title">Positive Menschen, Gut aussehende leute.. xyc</h2>
                </div> <!-- section title -->
            </div>
            <div class="col-lg-6 offset-lg-1 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="section-title">
                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-quelaudantium, totam
                        rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                        sunt explicabo. Nemo enim ipsam voluptatem quiavoluptas sit aspernatur aut odit aut fugit, sed
                        quia quuntur magni dolores eos ratione voluptatem sequi nesciunt eque porroe. </p>
                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-quelaudantium, totam
                        rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                        sunt explicabo. Nemo enim ipsam voluptatem quiavoluptas sit aspernatur aut odit aut fugit, sed
                        quia quuntur magni dolores eos ratione voluptatem sequi nesciunt eque porroe. </p>
                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-quelaudantium, totam
                        rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                        sunt explicabo. Nemo enim ipsam voluptatem quiavoluptas sit aspernatur aut odit aut fugit, sed
                        quia quuntur magni dolores eos ratione voluptatem sequi nesciunt eque porroe. </p>
                </div> <!-- section title -->
            </div>
        </div>
    </div> <!-- container -->
    <div class="what-we-are-shape-1">
        <img src="assets/images/what-we-are-shape-1.png" alt="shape">
    </div>
    <div class="what-we-are-shape-2">
        <img src="assets/images/what-we-are-shape-2.png" alt="shape">
    </div>
</div>
<!--====== WHO WE ARE PART ENDS ======-->
<!--====== CASE DETAILS PART START ======-->
<div class="case-details-area pt-120 pb-115">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">

                <div class="case-video-thumb mt-30">
                    <img src="assets/images/video_banner.jpg" alt="">
                    <a class="video-popup" href="https://www.youtube.com/watch?v=CggU2I3ViZQ"><i
                            class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== CASE DETAILS PART ENDS ======-->

<app-footer3></app-footer3>