<app-header></app-header>
<!--====== BANNER PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/soller_klippe4.jpg);">
  <div class="banner-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="banner-content text-center  wow fadeInUp">
            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="mytitle">POSITIVITY TO GO</h1>
          </div>
          <div class="banner-content text-center mb-200 ml-200 wow fadeInUp">
            <span>by lauraxfinn<div class="btn-group" role="group" aria-label="Button group">
              </div></span>

          </div> <!-- banner content -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div>
</div>
<!--====== BANNER PART ENDS ======-->

<!--====== BLOG PART START ======-->
<div class="blog-area pt-150 pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2 class="title">BLOG</h2>
        </div><!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="news-area">
      <div class="container">
        <!-- row -->
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-9 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
            <div class="single-news mt-30">
              <img src="assets/images/positives_denken_lernen_sq.jpg" alt="">
              <div class="single-news-overlay">
                <span>by Laura</span>
                <h5 class="title"><a routerLink="/blog-positives-denken">Positives Denken wird dein Leben verändern </a>
                </h5>
                <a routerLink="/blog-positives-denken"><i class="fal fa-long-arrow-right"></i></a>
              </div>
            </div> <!-- single news -->
          </div>


        </div> <!-- row -->
      </div> <!-- container -->
    </div>
    <!--====== NEWS PART ENDS ======-->

  </div> <!-- container -->
</div>
<!--====== BLOG PART ENDS ======-->
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">

        <figure class="quote">
          <blockquote>
            <h3>'The happiness of your life depends upon the quality of
              your thoughts.'</h3>
          </blockquote>
          <figcaption>
            &mdash;<cite>Marcus Aurelius</cite> </figcaption>
        </figure>
      </div>
      <div class="col-lg-6 offset-lg-1 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s"
        style="text-align: center">
        <div class="section-title">
          <p> Positivity to Go ist unser Herzensprojekt, mit welchem wir dich auf unserer Reise zur Selbstverwirklichung
            und zum geistigen Wohlbefinden mitnehmen möchten. Wir konzentrieren uns auf deine Stärken, positiven
            Eigenschaften und Erfahrungen des Lebens. Positivity to Go unterstützt dich dabei, ein erfülltes Leben zu
            gestalten und deinen individuellen Weg erfolgreich zu gehen – ohne Wenn und Aber. Du solltest dich mit nicht
            weniger zufriedengeben, als mit einem Leben, erfüllt mit Glück und Abenteuern. Ein Leben, in welchem du das
            tust, was du liebst. </p>
          <p> Ob du dein volles Potenzial erreichst, hängt weitgehend von dir selbst ab! Gemeinsam mit dir möchten wir
            herausfinden, wie du dieses Potenzial verwirklichen kannst und was dich glücklich macht. Wir teilen unsere
            Erfahrungen mit dir, um dich zu inspirieren, zu motivieren und dir zu helfen, deinen individuellen Weg in
            allen Lebensbereichen zu finden.</p>
          <p> Mit Positivity to Go nehmen wir dich mit auf neue Abenteuer, teilen unsere Erkenntnisse, möchten dir
            Positivität vermitteln und dich dazu inspirieren, deine Ziele zu erreichen. Lass uns gemeinsam nach mentaler
            Balance und
            geistigem Wohlbefinden streben, um zusammen das Beste aus unserem Leben zu machen!</p>

        </div> <!-- section title -->
      </div>
    </div>
  </div> <!-- container -->
  <div class="what-we-are-shape-1">
    <img src="assets/images/what-we-are-shape-1.png" alt="shape">
  </div>
</div>
<!--====== WHO WE ARE PART ENDS ======-->
<div class="blog-area pt-150 pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2 class="title">Feed</h2>
          <h2>by lauraxfinn</h2>
        </div><!-- section title -->
      </div>
    </div>
  </div>
</div>
<!-- row -->
<div class="center">
  <!-- LightWidget WIDGET -->
  <iframe src="https://cdn.lightwidget.com/widgets/91066194ed8b5e419b4cc5da805c7595.html" scrolling="no"
    allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>


</div>




<!-- video Part Youtube -->
<!-- <div class=" case-details-area pt-120 pb-115">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">

                <div class="case-video-thumb mt-30">
                    <img src="assets/images/video_banner.jpg" alt="">
                    <a class="video-popup" href="https://www.youtube.com/watch?v=CggU2I3ViZQ"><i
                            class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--====== CASE DETAILS PART ENDS ======-->
<!-- LightWidget WIDGET -->





<app-footer3></app-footer3>
