<app-header></app-header>
<!--====== BANNER PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/soller_klippe4.jpg);">
    <div class="banner-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="banner-content text-center  wow fadeInUp">
                        <h1 data-animation="fadeInLeft" data-delay="0.9s" class="mytitle">POSITIVITY TO GO</h1>
                    </div>
                    <div class="banner-content text-center mb-200 ml-200 wow fadeInUp">
                        <span>by lauraxfinn<div class="btn-group" role="group" aria-label="Button group">
                            </div></span>

                    </div> <!-- banner content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!--====== BANNER PART ENDS ======-->

<!--====== BLOG PART START ======-->
<div class="blog-area pt-150 pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title">BLOG</h2>
                </div><!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="news-area">
            <div class="container">
                <!-- row -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-9 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                        <div class="single-news mt-30">
                            <img src="assets/images/coding_blog.jpg" alt="">
                            <div class="single-news-overlay">
                                <span>By Laura</span>
                                <h5 class="title"><a routerLink="/blog-detail">A series of iOS 7 inspired vector
                                        icons.</a></h5>
                                <a routerLink="/blog-detail"><i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div> <!-- single news -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9  wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="single-news mt-30">
                            <img src="assets/images/bali_yoga_mental_health.jpg" alt="">
                            <div class="single-news-overlay">
                                <span>By Laura</span>
                                <h5 class="title"><a routerLink="/blog-detail">A series of iOS 7 inspired vector
                                        icons.</a></h5>
                                <a routerLink="/blog-detail"><i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div> <!-- single news -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9 wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                        <div class="single-news mt-30">
                            <img src="assets/images/jump_blog.jpg" alt="">
                            <div class="single-news-overlay">
                                <span>By Laura</span>
                                <h5 class="title"><a routerLink="/blog-detail">A series of iOS 7 inspired vector
                                        icons.</a></h5>
                                <a routerLink="/blog-detail"><i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div> <!-- single news -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
        <!--====== NEWS PART ENDS ======-->

    </div> <!-- container -->
</div>
<!--====== BLOG PART ENDS ======-->
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">

                <figure class="quote">
                    <blockquote>
                        <h3>'The happiness of your life depends upon the quality of
                            your thoughts.'</h3>
                    </blockquote>
                    <figcaption>
                        &mdash;<cite>Marcus Aurelius</cite> </figcaption>
                </figure>
            </div>
            <div class="col-lg-6 offset-lg-1 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="section-title">
                    <p> Positivity to Go is our heart project, where we want to take you on our journey to
                        self-realization
                        and mental well-being. We focus on the strengths, positive qualities and experiences of life.
                        Positivity to Go supports you to create a fulfilling life and to go your individual way
                        successfully. Whether you reach your full potential depends largely on yourself! </p>
                    <p> Together with you we would like
                        to
                        find out, how you can realize this potential and what makes you happy. We share
                        our
                        experiences with you to inspire & motivate you and to help you finding your individual way in
                        all
                        areas of life.</p>
                    <p> With Positivity to Go we take you on new adventures, share our experiences and
                        positivity, inspire you to achieve your goals and strive for mental well-being in order to make
                        the
                        best of our lives together!</p>

                </div> <!-- section title -->
            </div>
        </div>
    </div> <!-- container -->
    <div class="what-we-are-shape-1">
        <img src="assets/images/what-we-are-shape-1.png" alt="shape">
    </div>
</div>
<!--====== WHO WE ARE PART ENDS ======-->
<div class="blog-area pt-150 pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title">Feed</h2>
                    <h2>by lauraxfinn</h2>
                </div><!-- section title -->
            </div>
        </div>
    </div>
</div>
<!-- row -->
<div class="center">
    <!-- LightWidget WIDGET -->
    <iframe src="https://cdn.lightwidget.com/widgets/91066194ed8b5e419b4cc5da805c7595.html" scrolling="no"
        allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>


</div>




<!-- video Part Youtube -->
<!-- <div class=" case-details-area pt-120 pb-115">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">

                <div class="case-video-thumb mt-30">
                    <img src="assets/images/video_banner.jpg" alt="">
                    <a class="video-popup" href="https://www.youtube.com/watch?v=CggU2I3ViZQ"><i
                            class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--====== CASE DETAILS PART ENDS ======-->
<!-- LightWidget WIDGET -->





<app-footer3></app-footer3>