<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/how-to-get-money-mindset.jpg);">
  <div class="banner-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="banner-content text-center wow fadeInUp">

          </div> <!-- banner content -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div>
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="blog-standard">
          <div class="single-blog-standard  mt-30">
            <div class="blog-dteails-content blog-border">
              <div class="blog-details-top">
                <span>Lifesytle</span>
                <h2 class="title">{{'BLOG.POST2.TEXT1'| translate }} </h2>
                <ul>
                  <li><i class="fal fa-eye"></i> {{'BLOG.POST2.TEXT2'| translate }}</li>
                  <li><i class="fal fa-calendar-alt"></i> 30.10.2020</li>
                </ul>

              </div>
              <div class="blog-details-bath ">
                <div class="blog-details-confarance">
                  <div class="wow fadeInLeft " data-wow-duration="1s" data-wow-delay="0s">
                    <p>{{'BLOG.POST2.TEXT3'| translate }}
                    </p>
                    <h4 class="title">{{'BLOG.POST2.TEXT4'| translate }}</h4>
                  </div>


                  <div class="confarance-flex d-flex  ">
                    <div class="confarance-thumb-1 wow fadeInLeft mt-50" data-wow-duration="1s" data-wow-delay="0s">
                      <img src="assets/images/your-money-mindset.jpg" alt="">
                    </div>
                    <div class="confarance-thumb-2 pt-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s">

                      <p>{{'BLOG.POST2.TEXT5'| translate }} </p>


                    </div>
                  </div>
                  <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                    <h4 class="title">{{'BLOG.POST2.TEXT6'| translate }}</h4>
                    <p></p>
                    <p> {{'BLOG.POST2.TEXT7'| translate }} </p>



                  </div>
                  <div class="confarance-flex d-flex  ">

                    <div class="confarance-thumb-2  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s">
                      <p>{{'BLOG.POST2.TEXT8'| translate }} </p>
                      <p>{{'BLOG.POST2.TEXT9'| translate }} </p>
                      <p>{{'BLOG.POST2.TEXT10'| translate }} </p>
                      <p>{{'BLOG.POST2.TEXT11'| translate }}</p>
                    </div>
                    <div class="confarance-thumb-1 wow fadeInLeft mb-50" data-wow-duration="1s" data-wow-delay="0s">
                      <img src="assets/images/positives-money-mindset.jpg" alt="">
                    </div>
                  </div>

                  <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">

                    <p>{{'BLOG.POST2.TEXT12'| translate }} </p>
                    <p>{{'BLOG.POST2.TEXT13'| translate }}</p>
                    <p>{{'BLOG.POST2.TEXT14'| translate }}</p>
                  </div>

                </div>



                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <p> {{'BLOG.POST2.TEXT15'| translate }}
                  </p>
                </div>
                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <p>{{'BLOG.POST2.TEXT16'| translate }}</p>
                  <ul>
                    <li>
                      <p>{{'BLOG.POST2.TEXT17'| translate }}</p>
                    </li>
                    <li>
                      <p>{{'BLOG.POST2.TEXT18'| translate }}</p>
                    </li>
                    <li>
                      <p>{{'BLOG.POST2.TEXT19'| translate }}</p>
                    </li>

                  </ul>
                </div>

                <div class="row align-items-center pt-30">
                  <div class="col-lg-5 wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="team-details-thumb">
                      <img src="assets/images/postiv-money-mindset.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <p class="pt-30">{{'BLOG.POST2.TEXT20'| translate }}</p>
                  </div>


                </div>

                <div class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                  <p class="pt-20 !Important">{{'BLOG.POST2.TEXT21'| translate }}</p>
                  <p>{{'BLOG.POST2.TEXT22'| translate }}</p>
                </div>

                <div class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                  <p class="pt-20 !Important">{{'BLOG.POST2.TEXT23'| translate }}</p>
                  <p>{{'BLOG.POST2.TEXT24'| translate }}</p>
                </div>
                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                  <p class="pb-0 !Important">by

                  </p>
                  <p>Finn</p>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer3></app-footer3>
